.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_form .input1 {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
  border: 1px solid;
  margin: 4px;
}

.create_form .input2 {
  padding: 10px 15px;
  background-color: #222;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.create_form .input2:hover {
  background-color: #444;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.create_form .input2:active {
  background-color: #000;
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 8px 0;
  background: #252424;
  border-radius: 8px;
  min-width: 200px;
  color: #fff;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon:hover {
  transform: scale(1.2);
}

.line_through {
  text-decoration: line-through;
}

.delete-icon {
  color: rgb(230, 199, 199);
}

.checkbox-icon {
  color: rgb(223, 232, 223);
}